html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
    no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #6997F0, #455DC4);
  padding: 10px 20px;
  color: white;
  z-index: 1000; /* Щоб header був поверх інших елементів */
}

.header .logo {
  font-size: 20px;
  font-weight: bold;
}

.header .contacts {
  display: flex;
  align-items: center;
}

.header .contacts .phone {
  margin-right: 20px;
  font-size: 16px;
}

.header .social-icons img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.container {
  margin-top: 80px; /* Відступ для уникнення перекриття з хедером */
  background: transparent;
  border-radius: 25px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

label,
h2 {
  font-size: 1.2em;
  color: #333;
  font-weight: 600;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #0072ff;
  border-radius: 5px;
  font-size: 1.1em;
  outline: none;
}

button {
  background: #0072ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

button:hover {
  background: #005bb5;
}

.target-buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.set-target {
  width: 30%;
  padding: 10px;
  background-color: #0072ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s ease;
}

.set-target:hover {
  background-color: #005bb5;
}

.circle-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.5s;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #f1f1f1;
}

#resetButton {
  background-color: #ff3b3b;
  margin-top: 20px;
}

#resetButton:hover {
  background-color: #e60000;
}
